@import "bootstrap-sass/bootstrap";
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@font-face {
  font-family: "goudy-trajan";
  src: url("goudytrajan-bold.woff") format("woff");
}

@font-face {
  font-family: "goudy-trajan-regular";
  src: url("goudytrajan-regular.woff") format("woff");
}


$text-color: #61606e;
$pastel-3: #cc90b7;
$pastel-2: #f2e1ec;
$yellow-2: #ffffec;
$green-2: #e7f6e4;
$primary-font-family: 'goudy-trajan-regular',
serif;
$secondary-font-family: 'goudy-trajan',
serif;
$sans-font-family: 'PT sans',
sans-serif;

body {
  color: $text-color;
  letter-spacing: 0.1em;
}

.text-41 {
  font-size: 2.56rem;
}

.text-24 {
  font-size: 1.5rem;
}

.text-pastel {
  color: $pastel-3;
}

.navbar > .container {
  justify-content: center;
}

.logo-img {
  width: 25rem;
  height: auto;
}

.wide-letter {
  letter-spacing: 0.16em;
}

.navbar-collapse {
  margin-top: 0.625rem;
  border-top: 1px solid #e7e7e7;
  font-family: $secondary-font-family;
}

.jumbotron {
  background: transparent;
  p {
    width: 90%;
  }
}

.hero {
  background: linear-gradient(to bottom, rgba(255, 255, 252, 0.11) 0%, rgba(173, 94, 146, 0.05) 48%, rgba(224, 222, 122, 0.07) 100%), url(hero.jpg);
  background-size: cover;
  background-position: top center;
}

.test {
  color: blue;
}

.header-border {
  border: 0.75rem solid $text-color;
  margin: 2rem 4rem 0.5rem 4rem;
  padding: 2rem 0;
}
