@import "bootstrap-sass/bootstrap";
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@font-face {
  font-family: "goudy-trajan";
  src: url("goudytrajan-bold.woff") format("woff");
}

@font-face {
  font-family: "goudy-trajan-regular";
  src: url("goudytrajan-regular.woff") format("woff");
}


$text-color: #61606e;
$pastel-3: #cc90b7;
$pastel-2: #f2e1ec;
$yellow-2: #ffffec;
$green-2: #e7f6e4;
$primary-font-family: 'goudy-trajan-regular',
serif;
$secondary-font-family: 'goudy-trajan',
serif;
$sans-font-family: 'PT sans',
sans-serif;

body {
  color: $text-color;
  letter-spacing: 0.1em;
}

*::selection {
  background: #E2BCD5;
  color: #325576;
}

.text-41 {
  font-size: 2.56rem;
}

.text-24 {
  font-size: 1.5rem;
}

.text-pastel {
  color: $pastel-3;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.navbar > .container {
  justify-content: center;
}

.logo-img {
  width: 25rem;
  height: auto;
}

.wide-letter {
  letter-spacing: 0.16em;
}

.navbar-collapse {
  border-top: 1px solid rgba(97, 96, 110, 0.18);
  font-family: $secondary-font-family;
}

.navbar-toggler {
  background: url(menu.png) no-repeat 50% 50%;
  background-size: contain;
  width: 3rem;
  height: 3rem;
  border: 0px;
}

.nav-background {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.11) 0%, rgba(173, 94, 146, 0.11) 51%, rgba(173, 94, 146, 0.11) 100%);
  border-radius: 10px;
}

.jumbotron {
  background: transparent;
  p {
    width: 80%;
  }

  .container {
    max-width: 1180px;
  }
}

.hero {
  position: relative;
  background: linear-gradient(to bottom, rgba(255, 255, 252, 0.11) 0%, rgba(173, 94, 146, 0.05) 48%, rgba(224, 222, 122, 0.07) 100%), url(hero.jpg);
  background-size: cover;
  background-position: top center;
  box-shadow: 0px -5px 27px 0px rgba(0, 0, 0, 0.2) inset;
}

.header-border {
  border: 0.75rem solid $text-color;
  margin: 2rem 4rem 0.5rem 4rem;
  padding: 2rem 0.5rem;
}

.arrow-btn {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  $var: 2rem; //sass fix to allow the use of calc()
  top: calc(100% - #{$var});
  background-color: $text-color;
}

.arrow {
  margin: 0.5rem;
  width: 3rem;
  height: 3rem;
}

.scroll-center {
  width: 4rem;
  margin: 0 auto;
}


@media screen and (min-width: 896px) and (max-width: 991) {
  .header-border {
    margin: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  html {
    font-size: 12px;
  }
  .navbar > .container {
    max-width: 690px;
  }
  .jumbotron p {
    width: 100%;
  }

  .navbar-collapse {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 575px) {
  html {
    font-size: 10px;
  }
  .jumbotron p {
    width: 100%;
  }
  .header-border {
    margin: 0;

  }
  .navbar-collapse {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 475px) {
  html {
    font-size: 8px;
  }
}
